<div style="height: 221px; margin-left: 20px;">
    <div class="row">
        <div class="col-xs-5">
            <div class="page-header" style="margin-top: 0px;">
                <h4>Settings <small>General</small></h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5">
            <h5 ng-click="testClick()">Temporary Suspend</h5>
        </div>

        <div class="col-xs-7">
            Disable SpigotNotifier for: {{model.first}}
            <input id="modelValue" type="range" ng-model="model.first" min="{{testOptions.min}}" step="{{testOptions.step}}" max="{{testOptions.max}}" formatter="formatterFn(value)">
        </div> 
    </div>  
</div>